ul {
  display: flex;
  list-style-type: none;
  gap: 0.8rem;
  margin-right: 0.8rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

a {
  margin-bottom: 0;
}

.active {
  border-bottom: 2px solid #ff7c60;
}

@media screen and (max-width: 500px) {
  ul {
    display: flex;
    flex-direction: column;
    width: 40vw;
  }
}
